In [1]:
import pandas as pd
df_input = pd.read_csv('input_data.csv')
display(df_input)

,zip,lat,lng,timezone,county_name,city,state_id,state_name,population,density,month,temp,cloudy_days,res_rate
0,1001,42.06259,-72.62589,America/New_York,Hampden,Agawam,MA,Massachusetts,17312.0,581.0,Jan,41.7,130.6,0.159252
1,1001,42.06259,-72.62589,America/New_York,Hampden,Agawam,MA,Massachusetts,17312.0,581.0,Feb,30.4,138.3,0.159252
2,1001,42.06259,-72.62589,America/New_York,Hampden,Agawam,MA,Massachusetts,17312.0,581.0,Mar,40.0,148.2,0.159252
3,1001,42.06259,-72.62589,America/New_York,Hampden,Agawam,MA,Massachusetts,17312.0,581.0,Apr,59.0,141.6,0.159252
4,1001,42.06259,-72.62589,America/New_York,Hampden,Agawam,MA,Massachusetts,17312.0,581.0,May,59.4,140.7,0.159252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391603,99403,46.37243,-117.25273,America/Los_Angeles,Asotin,Clarkston,WA,Washington,20489.0,51.8,Aug,90.7,79.9,0.094459
391604,99403,46.37243,-117.25273,America/Los_Angeles,Asotin,Clarkston,WA,Washington,20489.0,51.8,Sep,91.7,104.5,0.094459
391605,99403,46.37243,-117.25273,America/Los_Angeles,Asotin,Clarkston,WA,Washington,20489.0,51.8,Oct,82.2,125.5,0.094459
391606,99403,46.37243,-117.25273,America/Los_Angeles,Asotin,Clarkston,WA,Washington,20489.0,51.8,Nov,68.8,158.8,0.094459
391607,99403,46.37243,-117.25273,America/Los_Angeles,Asotin,Clarkston,WA,Washington,20489.0,51.8,Dec,66.6,166.7,0.094459

In [2]:
# Turn the monthly temp and cloudy days into columns so we have 1 row per zip
df_input_clean = df_input.pivot_table(index=['zip', 'lat', 'lng', 'timezone', 'county_name', 'city', 'state_id', 'state_name', 'population','density','res_rate'], 
                                  columns='month', 
                                  values=['temp','cloudy_days'])
# Convert the multi-index columns to a string
df_input_clean.columns = [' '.join(col).strip() for col in df_input_clean.columns.values]

df_input_clean.reset_index(inplace=True)
display(df_input_clean)

,zip,lat,lng,timezone,county_name,city,state_id,state_name,population,density,...,temp Dec,temp Feb,temp Jan,temp Jul,temp Jun,temp Mar,temp May,temp Nov,temp Oct,temp Sep
0,1001,42.06259,-72.62589,America/New_York,Hampden,Agawam,MA,Massachusetts,17312.0,581.0,...,39.20,30.40,41.7,85.40,77.1,40.0,59.4,45.80,53.8,77.8
1,1002,42.37492,-72.46210,America/New_York,Hampshire,Amherst,MA,Massachusetts,30014.0,210.5,...,36.25,22.95,30.8,85.25,80.6,39.9,64.9,45.75,56.2,79.1
2,1003,42.39192,-72.52479,America/New_York,Hampshire,Amherst,MA,Massachusetts,11357.0,6164.3,...,34.40,21.40,29.1,86.30,81.2,38.8,63.6,44.80,55.2,78.5
3,1005,42.42017,-72.10615,America/New_York,Worcester,Barre,MA,Massachusetts,5128.0,44.7,...,34.40,20.90,29.0,85.00,81.1,39.2,64.9,43.70,55.4,78.3
4,1007,42.27875,-72.40036,America/New_York,Hampshire,Belchertown,MA,Massachusetts,15005.0,110.1,...,34.40,21.40,29.1,86.30,81.2,38.8,63.6,44.80,55.2,78.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32629,99363,46.06652,-118.88846,America/Los_Angeles,Walla Walla,Wallula,WA,Washington,350.0,3.0,...,63.60,60.60,55.9,93.10,87.9,64.1,79.6,64.00,77.3,94.1
32630,99371,46.80678,-118.31679,America/Los_Angeles,Adams,Washtucna,WA,Washington,325.0,0.6,...,63.60,60.60,55.9,93.10,87.9,64.1,79.6,64.00,77.3,94.1
32631,99401,46.08744,-117.25143,America/Los_Angeles,Asotin,Anatone,WA,Washington,642.0,1.1,...,61.80,59.10,54.8,90.70,87.6,64.4,81.9,63.20,76.0,93.4
32632,99402,46.19394,-117.14736,America/Los_Angeles,Asotin,Asotin,WA,Washington,1325.0,1.8,...,61.80,59.10,54.8,90.70,87.6,64.4,81.9,63.20,76.0,93.4
32633,99403,46.37243,-117.25273,America/Los_Angeles,Asotin,Clarkston,WA,Washington,20489.0,51.8,...,66.60,71.10,62.7,90.10,90.8,70.5,85.6,68.80,82.2,91.7

In [3]:
# Use 3hr as the frequency as ran into issues with DST and spring forward (03-11-2018 2:00 is a non-existent time since it jumps from 1:59AM to 3:00AM)
naive_times = pd.date_range(start='2018', end='2019', freq='3h')
# Run it for the second fourth of zip codes
start_idx = int(len(df_input_clean)/4*2)
end_idx = int(len(df_input_clean)/4*3)
df_input_set = df_input_clean[['lat', 'lng', 'zip', 'timezone']].iloc[start_idx:end_idx]

# Convert our dataframe into an array of tuples
coordinates = list(df_input_set.itertuples(index=False))

In [4]:
#!pip install pvlib
#!pip install tqdm
#!pip install tables

import pvlib
# Library for displaying progress
from tqdm.notebook import tqdm
sandia_modules = pvlib.pvsystem.retrieve_sam('SandiaMod')
sapm_inverters = pvlib.pvsystem.retrieve_sam('cecinverter')
module = sandia_modules['Canadian_Solar_CS5P_220M___2009_']
# 5ft x 4 ft, average 30 panels per household
inverter = sapm_inverters['ABB__MICRO_0_25_I_OUTD_US_208__208V_']
temperature_model_parameters = pvlib.temperature.TEMPERATURE_MODEL_PARAMETERS['sapm']['open_rack_glass_glass']
# This is something we could incorporate when running the script instead of keeping it constant
temp_air = 20
wind_speed = 0


system = {'module': module, 'inverter': inverter,
           'surface_azimuth': 180}


energies = {}

for latitude, longitude, name, timezone in tqdm(coordinates):
    # Always set the altitude to zero since we dont have the information
    altitude = 0
    times = naive_times.tz_localize(timezone)
    system['surface_tilt'] = latitude
    solpos = pvlib.solarposition.get_solarposition(times, latitude, longitude)
    dni_extra = pvlib.irradiance.get_extra_radiation(times)
    airmass = pvlib.atmosphere.get_relative_airmass(solpos['apparent_zenith'])
    pressure = pvlib.atmosphere.alt2pres(altitude)
    am_abs = pvlib.atmosphere.get_absolute_airmass(airmass, pressure)
    tl = pvlib.clearsky.lookup_linke_turbidity(times, latitude, longitude)
    cs = pvlib.clearsky.ineichen(solpos['apparent_zenith'], am_abs, tl,
                                     dni_extra=dni_extra, altitude=altitude)
    aoi = pvlib.irradiance.aoi(system['surface_tilt'], system['surface_azimuth'],
                                   solpos['apparent_zenith'], solpos['azimuth'])
    total_irrad = pvlib.irradiance.get_total_irradiance(system['surface_tilt'],
                                                           system['surface_azimuth'],
                                                           solpos['apparent_zenith'],
                                                          solpos['azimuth'],
                                                           cs['dni'], cs['ghi'], cs['dhi'],
                                                           dni_extra=dni_extra,
                                                           model='haydavies')
    tcell = pvlib.temperature.sapm_cell(total_irrad['poa_global'],
                                         temp_air, wind_speed,
                                          **temperature_model_parameters)
    effective_irradiance = pvlib.pvsystem.sapm_effective_irradiance(
            total_irrad['poa_direct'], total_irrad['poa_diffuse'],
           am_abs, aoi, module)
    dc = pvlib.pvsystem.sapm(effective_irradiance, tcell, module)
    ac = pvlib.inverter.sandia(dc['v_mp'], dc['p_mp'], inverter)
    annual_energy = ac.sum()
    energies[name] = annual_energy

energies = pd.Series(energies)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=8158.0), HTML(value='')))

In [5]:
display(energies)

49509    144991.503991
49512    145137.387677
49519    144980.692349
49525    145319.820637
49534    145025.296935
             ...
71486    155542.478950
71601    154373.908248
71602    154498.680811
71603    154566.036980
71630    154551.746329
Length: 8158, dtype: float64